.inputBox {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: rgba(5, 5, 0, 0.3);
    color: grey;
}

.inputBox:hover {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: rgba(5, 5, 0, 0.3);
    color: white;
}

.inputBox:focus {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: rgba(5, 5, 0, 0.3);
    color: grey;
    outline: 1px solid rgba(65, 55, 60, 0.8);
}

.certPositioning {
    float: right;
    position: relative;
    top: -29vh;
    left: -4vw;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    position: relative;
    top: 25vh;
    left: 45vw;
}

.generateButton {
    padding: 15px;
    border: 0.5px solid #111;
    border-radius: 12px;
    min-width: 250px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    background: rgba(159, 137, 94, 0.8);
    box-shadow: 0 0 10px 1px rgba(73, 104, 78, 0.8);
    margin-top: 10px;
}

.generateButton:hover {
    padding: 15px;
    border: 0.5px solid #111;
    border-radius: 12px;
    min-width: 250px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    background: rgba(159, 137, 94, 0.8);
    box-shadow: 0 0 13px 1px rgba(73, 104, 78, 0.8);
}

.downloadButton {
    float: right;
    position: relative;
    top: 2vh;
    left: -6.5vw;
}

.certText {
    color: rgba(159, 137, 94, 0.8);
    font-size: 20px;
}

.certInputText {
    color: rgba(200, 179, 137, 0.8);
    margin-top: 3px;
    font-size: 17px;
}

.magicText {
    float: right;
    position: relative;
    color: rgba(65, 55, 60, 0.8);
    top: -1vh;
    left: -5vw;
    font-size: 35px;
}

.waitSpinner {
    animation: spin 1s linear infinite;
    height: 19px;
    width: 19px;
    border-bottom: 2px solid;
    border-radius: 60%;
    /*margin-left: 250px;*/
}

.waitSpinnerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
