.positioning {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    float: left;
    gap: 40px;
    margin-top: -100px;
    position: relative;
    left: -20%;
}

.info {
    position: relative;
    color: rgba(65, 55, 60, 0.8);
    top: 30vh;
    left: 40%;
    font-size: 35px;
}
