@tailwind base;
@tailwind components;
@tailwind utilities;

/************************************** Choose File Box **************************************/

input[type="file"]::file-selector-button {
    border: 2px solid #3c67e3;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background: rgba(5, 5, 0, 0.3);
    transition: 2s;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: grey;
}

input[type="file"]::file-selector-button:hover {
    background-color: #5ddcff;
    border: 2px solid #3c67e3;
    font-family: "Orbitron", sans-serif;
    color: black;
}

input[type="file"]::after {
    content: " *";
    color: #f06543;
}

body {
    background: #1d063a;
}

html {
    scroll-behavior: smooth !important;
}

html ::-webkit-scrollbar-track {
    background: rgba(12, 9, 9, 1);
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    width: 0.35rem;
}

html ::-webkit-scrollbar-thumb {
    background: rgb(85, 17, 172);
    border-radius: 0.2rem;
}

html ::-webkit-scrollbar-thumb:hover {
    background: rgb(115, 54, 255);
}
