@tailwind base;
@tailwind components;
@tailwind utilities;

/************************************** Choose File Box **************************************/

input[type="file"]::file-selector-button {
    border: 2px solid #3c67e3;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background: rgba(5, 5, 0, 0.3);
    transition: 2s;
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
    color: grey;
}

input[type="file"]::file-selector-button:hover {
    background-color: #5ddcff;
    border: 2px solid #3c67e3;
    font-family: "Orbitron", sans-serif;
    color: black;
}

body {
    background: #1d063a;
}

html {
    scroll-behavior: smooth !important;
}

html ::-webkit-scrollbar-track {
    background: rgba(12, 9, 9, 1);
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    width: 0.35rem;
}

html ::-webkit-scrollbar-thumb {
    background: rgb(85, 17, 172);
    border-radius: 0.2rem;
}

html ::-webkit-scrollbar-thumb:hover {
    background: rgb(115, 54, 255);
}

@layer components {
    .btn-hover-effect {
        @apply relative;
    }

    .btn-hover-effect::before,
    .btn-hover-effect::after,
    .btn-hover-effect-border::before,
    .btn-hover-effect-border::after {
        @apply absolute inset-0 border-cosm content-[''] duration-200 rounded-full;
    }

    /* Setup Top */
    .btn-hover-effect::before {
        @apply border-t-2 scale-x-0 transition-all origin-top-right;
    }

    /* Setup Bottom */
    .btn-hover-effect::after {
        @apply border-b-2 scale-x-0 transition-all origin-bottom-left;
    }

    /* Setup Left */
    .btn-hover-effect-border::before {
        @apply border-l-2 scale-y-0 transition-all origin-top-left delay-200;
    }

    /* Setup Right */
    .btn-hover-effect-border::after {
        @apply border-r-2 scale-y-0 transition-all origin-bottom-right delay-200;
    }

    /* Hover X */
    .btn-hover-effect:hover::before,
    .btn-hover-effect:hover::after {
        @apply scale-x-100;
    }

    /* Hover Y */
    .btn-hover-effect:hover .btn-hover-effect-border::before,
    .btn-hover-effect:hover .btn-hover-effect-border::after {
        @apply scale-y-100;
    }
}

.bRJoYx {
    background: #4d0dab !important;
}

.eZbzsH {
    background: #20093d !important;
}
