/************************************** Main Page **************************************/

body {
    background-color: #111;
    font-color: #fff;
}

nav {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.home {
    color: white;
    padding: 1.5rem;
}

/************************************** Choose File Box **************************************/

input[type="file"]::file-selector-button {
    border: 2px solid rgb(99, 67, 41);
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background: rgba(5, 5, 0, 0.3);
    transition: 2s;
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
    color: grey;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgba(159, 137, 94, 0.8);
    border: 2px solid rgb(99, 67, 41);
    font-family: "Orbitron", sans-serif;
    color: black;
}

/************************************** Header (Navigation Bar) **************************************/

.title {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
}

/************************************** Connect Button Override **************************************/

/* Connect Button - Background */
.sc-gAigJI {
    background-color: black !important;
}

/* Connected Button - Background */
.sc-ckPVkh {
    background-color: black !important;
}

/* Connected Button - ETH Amount Background */
.sc-iWxGtA {
    background-color: black !important;
}

/* Connected Button - Address Background */
.sc-gCkVGe {
    background-color: black !important;
}

/* Wallet - ETH Amount Text */
.sc-dEsUz {
    color: white !important;
}

/* Connect Button And Wallet - Address Text */
.sc-hCnrGf {
    color: rgba(159, 137, 94, 0.8) !important;
}

/* Wallet Logo */
.sc-eywOmQ {
}

/************************************** Wallets Container Override **************************************/

/* Close Button */
.sc-cJPUEC {
    background-color: black !important;
}

/* Upper Bar */
.sc-bhlPkD {
    background-color: black !important;
}

/* Wallets Background */
.sc-fIwssx {
    background-color: black !important;
}

/* Wallets On Hover */
.sc-fwEaKe:hover {
    background: linear-gradient(to right bottom, #524315 1%, #000000ea 60%, rgba(181, 177, 99, 0.6783088235294117) 99%) !important;
    box-shadow: inset 0 0 0, 0 0 0, 0 0 5px rgb(255, 255, 255) !important;
    border-radius: 8px !important;
}

/************************************** Notifications **************************************/

/*  */
.sc-cOFUxI {
    background: linear-gradient(to right bottom, #524315 1%, #000000ea 60%, rgba(181, 177, 99, 0.6783088235294117) 99%) !important;
}
