.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    font-family: Arial, sans-serif;
    line-height: 0.5;
    color: #999;
}

.description h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgba(159, 137, 94, 0.8);
}

.description p {
    font-size: 16px;
    margin-bottom: 5px;
}

.description strong {
    font-weight: bold;
}

.description em {
    font-style: italic;
}

.button {
    padding: 15px;
    border: 0.5px solid #111;
    border-radius: 12px;
    width: 150px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    background: rgba(159, 137, 94, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    animation: glowing 2s linear infinite;
}

.button:hover {
    animation: none;
    box-shadow: 0 5px 8px rgba(249, 189, 95, 0.8);
}

@keyframes glowing {
    0% {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
    50% {
        box-shadow: 0 5px 8px rgba(249, 189, 95, 0.8);
    }
    100% {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
}
