.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.clause {
    position: absolute;
    top: 13%;
    color: rgba(159, 137, 94, 0.8);
    font-size: 35px;
}

.inputBox {
    position: absolute;
    top: 25%;
}

.inputBox::placeholder {
    text-align: center;
}

.clauseContainer {
    position: relative;
    padding: 10px;
    width: 450px;
    font-size: 20px;
    top: 11%;
}

.clauseImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.clauseText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-size: 20px;
    text-align: center;
}

.chainInfo {
    position: absolute;
    top: 41%;
    color: #999;
    font-size: 20px;
}

.nft {
    position: absolute;
    top: 75%;
    color: rgba(159, 137, 94, 0.8);
    font-size: 35px;
    margin-top: 15vh;
}

.address {
    color: rgba(65, 55, 60, 0.8);
    font-size: 30px;
}

.button {
    position: absolute;
    top: 28%;
    padding: 10px 20px;
    background-color: rgba(159, 137, 94, 0.8);
    color: #111;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    animation: glowing 2s linear infinite;
}

.button:hover {
    box-shadow: 0 5px 8px rgba(249, 189, 95, 0.8);
    font-weight: bold;
    cursor: pointer;
    animation: none;
}

@keyframes glowing {
    0% {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
    50% {
        box-shadow: 0 5px 8px rgba(249, 189, 95, 0.8);
    }
    100% {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
}
